* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font", monospace;
    font-weight: bold;
}

window {
    background-color: rgba(18, 18, 18, 0.85);
    /* #121212 with transparency */
}

button {
    color: #FFFFFF;
    background-color: #121212;
    border: 2px solid #919191;
    /* Selected color from Rofi */
    border-radius: 8px;
    /* Matching Rofi element-radius */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus,
button:active,
button:hover {
    background-color: #919191;
    /* Selected highlight */
    color: #121212;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}